.config/hypr/pics/20220902_065637_nord.jpg
.config/hypr/pics/another.jpg
.config/hypr/pics/at_the_coffeshop.png
.config/hypr/pics/blank.png
.config/hypr/pics/bocchi-4.png
.config/hypr/pics/cloud.png
.config/hypr/pics/imag26e.png
.config/hypr/pics/ishtar.jpeg
.config/hypr/pics/kita-1.png
.config/hypr/pics/moondrop-bus.jpg
.config/hypr/pics/rhel9-dark.jpg
.config/hypr/pics/sitting.png
.config/hypr/pics/wall_1.png
.config/hypr/pics/wallpaper.png
.config/hypr/pics/wallpaper_tracking.txt
.config/hypr/pics/EDKIo6D.png
.config/hypr/pics/poster.png
.config/fish/fish_variables
.config/nvim/lazy-lock.json
